*{
    margin: 0 auto;
    font-family: Inter;
    outline: none;
}

.bg{
    padding-top: 4vh;
    padding-bottom: 2vh;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    background-image: url(img/background-mn.png);
}

.box-main{
    display: flex;
    flex-direction: column;
    width: 61.5vh;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    background: rgba(217, 217, 217, 0.05);
    box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(51.95000076293945px);
}

.roqed-logo{
    width: 294px;
    height: 63px;
}

.roqed-img{
    display: flex;
    align-self: center;
    width: 80%;
    height: 80%;
}

.fiif{
    color: #001C36;
    text-align: center;
    font-size: 18px;
}

.shortdesc{
    margin-left: 6%;
    color: rgba(0, 28, 54, 0.65);

    font-size: 9px;

}

.text{
    width: 294px;
    height: 63px;

}

.box-list{
    width: 501.5px;
    height: 550.5px;
    flex-shrink: 0;
}

.fn{
    display: flex;
    align-self: center;
    padding-left:4%; 
    margin-top: 4%;
    width: 90%;
    height: 5vh;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.296);
    background: rgba(217, 217, 217, 0.05);
    backdrop-filter: blur(80.95000076293945px);
    transition-duration: 0.4s;
}
.fn:hover{
    background: rgba(11, 10, 10, 0.092);
}

.ac{
    resize: none;
    display: flex;
    align-self: center;
    font-size: 14px;
    padding-top: 4%;
    padding-left:4%; 
    margin-top: 4%;
    width: 90%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.296);
    background: rgba(21, 21, 21, 0.05);
    backdrop-filter: blur(80.95000076293945px);
    transition-duration: 0.4s;
}

.ac:hover{
    background: rgba(11, 10, 10, 0.092);
}

.inputarea{
    width: 60%;
    height: auto;
}

.submit{
    margin-top: 30px;
    width: 25vh;
    height: 5vh;
    border-radius: 15px;
    border: 0px solid rgba(255, 255, 255, 0.31);
    background: rgba(255, 255, 255, 0.20);
    box-shadow: 0px 4px 25.3px -4px rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(51.95000076293945px);

    transition-duration: 0.4s;
    cursor: pointer;
}

.submit:hover {
    color: white;
    background: #FE6D17;
  }
.submit:active {
    color: #FE6D17;
    background-color: white;
}